<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HOME</servlet-name>
        <servlet-class>newpackage.HOME</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>newpackage.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>newpackage.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>REGISTRATION</servlet-name>
        <servlet-class>newpackage.REGISTRATION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LOGIN</servlet-name>
        <servlet-class>newpackage.LOGIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>USER_HOME</servlet-name>
        <servlet-class>newpackage.USER_HOME</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADMIN_HOME</servlet-name>
        <servlet-class>newpackage.ADMIN_HOME</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactConf</servlet-name>
        <servlet-class>newpackage.contactConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBCon</servlet-name>
        <servlet-class>database.DBCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationConf</servlet-name>
        <servlet-class>newpackage.registrationConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginConf</servlet-name>
        <servlet-class>newpackage.loginConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VIEW_USERS</servlet-name>
        <servlet-class>newpackage.VIEW_USERS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VIEW_CONTACT</servlet-name>
        <servlet-class>newpackage.VIEW_CONTACT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VIEW_FEEDBACK</servlet-name>
        <servlet-class>newpackage.VIEW_FEEDBACK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VIEW_REQUEST</servlet-name>
        <servlet-class>newpackage.VIEW_REQUEST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VIEW_ORDER</servlet-name>
        <servlet-class>newpackage.VIEW_ORDER</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHANGE_PASSWORD</servlet-name>
        <servlet-class>newpackage.CHANGE_PASSWORD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passwordConf</servlet-name>
        <servlet-class>newpackage.passwordConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackConf</servlet-name>
        <servlet-class>newpackage.feedbackConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteConf</servlet-name>
        <servlet-class>newpackage.deleteConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editConf</servlet-name>
        <servlet-class>newpackage.editConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestConf</servlet-name>
        <servlet-class>newpackage.requestConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>newpackage.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderConf</servlet-name>
        <servlet-class>newpackage.orderConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ORDER</servlet-name>
        <servlet-class>newpackage.ORDER</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>newpackage.update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FEEDBACK</servlet-name>
        <servlet-class>newpackage.FEEDBACK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHANGE_U_PASSWORD</servlet-name>
        <servlet-class>newpackage.CHANGE_U_PASSWORD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DESIGNERS</servlet-name>
        <servlet-class>newpackage.DESIGNERS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passConf</servlet-name>
        <servlet-class>newpackage.passConf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HOME</servlet-name>
        <url-pattern>/HOME</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>REGISTRATION</servlet-name>
        <url-pattern>/REGISTRATION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LOGIN</servlet-name>
        <url-pattern>/LOGIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>USER_HOME</servlet-name>
        <url-pattern>/USER_HOME</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADMIN_HOME</servlet-name>
        <url-pattern>/ADMIN_HOME</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactConf</servlet-name>
        <url-pattern>/contactConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBCon</servlet-name>
        <url-pattern>/DBCon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationConf</servlet-name>
        <url-pattern>/registrationConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginConf</servlet-name>
        <url-pattern>/loginConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VIEW_USERS</servlet-name>
        <url-pattern>/VIEW_USERS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VIEW_CONTACT</servlet-name>
        <url-pattern>/VIEW_CONTACT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VIEW_FEEDBACK</servlet-name>
        <url-pattern>/VIEW_FEEDBACK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VIEW_REQUEST</servlet-name>
        <url-pattern>/VIEW_REQUEST</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VIEW_ORDER</servlet-name>
        <url-pattern>/VIEW_ORDER</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHANGE_PASSWORD</servlet-name>
        <url-pattern>/CHANGE_PASSWORD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passwordConf</servlet-name>
        <url-pattern>/passwordConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackConf</servlet-name>
        <url-pattern>/feedbackConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteConf</servlet-name>
        <url-pattern>/deleteConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editConf</servlet-name>
        <url-pattern>/editConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestConf</servlet-name>
        <url-pattern>/requestConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderConf</servlet-name>
        <url-pattern>/orderConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ORDER</servlet-name>
        <url-pattern>/ORDER</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FEEDBACK</servlet-name>
        <url-pattern>/FEEDBACK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHANGE_U_PASSWORD</servlet-name>
        <url-pattern>/CHANGE_U_PASSWORD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DESIGNERS</servlet-name>
        <url-pattern>/DESIGNERS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passConf</servlet-name>
        <url-pattern>/passConf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
